[user]
    name = Wesley Egberto
[github]
    user = wesleyegberto
[core]
    editor = vim
    excludesfile = '~/.gitignore_global'
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[alias]
    co = checkout
    ci = commit
    br = branch
    st = status -s
    sta = status -su
    fa = fetch --all

    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    changelog = log --pretty=format:\" * %s\"
    sg = diff --staged
    staged = diff --staged
    nb = checkout -b

    amend = commit --amend

    # list all aliases
    la = "!git config -l | grep alias | cut -c 7-"

    # log graph
    l = log --pretty=format:'%Cred%h%Creset %C(bold blue)%an%C(reset) - %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lg = log --graph --pretty=format:'%Cred%h%Creset %C(bold blue)%an%C(reset) - %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

    # show what I did yesterday
    yesterday = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 00:00AM\"  --before=\"today 00:00AM\" --author=\"`git config --get user.name`\"'"

    # show what I did today
    day = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 11:59PM\" --author=\"`git config --get user.name`\"'"

    # tag aliases
    # show the last tag
    lt = describe --tags --abbrev=0

    # diff aliases
	d = "diff"
    dff = "!sh -c 'git diff --color | diff-so-fancy' -"
    dfh = "!sh -c 'git diff --color HEAD^ HEAD | diff-so-fancy' -"
    dg = "!sh -c 'git ls-files -m | grep $1 | xargs git diff | diff-so-fancy' -"
    df = "!sh -c 'git ls-files -m | fzf | xargs git diff | diff-so-fancy' -"
    dv = "!sh -c 'git difftool -y -t vimdiff' -"

    # checkout aliases
    cg = "!sh -c 'git ls-files -m | grep $1 | xargs git checkout ' -"
    cf = "!sh -c 'git ls-files -m | fzf | xargs git checkout ' -"

    # add grep
    ag = "!sh -c 'git ls-files -m -o --exclude-standard | grep $1 | xargs git add --all' -"

    # add FZF
    af = "!sh -c 'git ls-files -m -o --exclude-standard | FZF | xargs git add --all' -"

    # order files by number of commits, ascending
    # Written by Corey Haines
    # Scriptified by Gary Bernhardt
    # Show churn for a time range:
    #   $ git churn --since='1 month ago'
    churn = "!f() { git log --all -M -C --name-only --format='format:' \"$@\" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print \"count\tfile\"} {print $1 \"\t\" $2}' | sort -g; }; f"

[push]
    # push will only do the current branch, not all branches
    default = current
	autoSetupRemove = true

[branch]
    # set up 'git pull' to rebase instead of merge
    autosetuprebase = always

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto


[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
